h2 {
  text-align: center;
  color: black;
}
.payment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-form label {
  margin-top: 20px;
  font-size: 20px;
}

.payment-form input {
  width: 250px;
  height: 40px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 18px;
}

.payment-form button {
  width: 200px;
  height: 50px;
  margin-top: 30px;
  background-color: #007510;
  color: #fffefe;
  border-radius: 5px;
}
